# keep big stuff out of git
data/raw/
data/processed/

# ignore results by default
results/*

# but track final outputs we want to show
!results/*.tsv
!results/*.txt
!results/*.csv

# python junk
__pycache__/
*.pyc
.venv/
.env/
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db
